<%= form_with(model: @subscriber, html: {id: "subscriberCreationForm"}) do |f| %>
  <%= f.label(:login, "Login") %><br>
  <%= f.text_field(:login) %>
  <%= f.submit %>
<% end %>

<div id="resultContainer">
</div>